body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
nav {
    background: #333;
    padding: 10px;
}
nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.texto {
    font-size: x-large;
}